<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="app/Testing/bootstrap.php"
         colors="true" 
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" 
         processIsolation="false" 
         stopOnFailure="false"
>

    <testsuites>
        <testsuite name="Api">
            <directory>./api/</directory>
        </testsuite>
        <testsuite name="Web">
            <directory>./web/</directory>
        </testsuite>
        <testsuite name="App">
            <directory>./app/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./api</directory>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing" />
        <server name="BCRYPT_ROUNDS" value="4" />
        <server name="CACHE_DRIVER" value="array" />
        <server name="DB_CONNECTION" value="pgsql_test"/>
        <!-- <server name="DB_DATABASE" value=":memory:"/> -->
        <!-- <server name="DB_DATABASE" value="pgsql_test"/> -->
        <server name="MAIL_MAILER" value="array" />
        <server name="QUEUE_CONNECTION" value="sync" />
        <server name="SESSION_DRIVER" value="array" />
        <server name="TELESCOPE_ENABLED" value="false" />
    </php>
</phpunit>
